*{
  border: 0;
  padding: 0;
}

body{
  background: #F2F2F2;
}

h1{
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(91, 91, 91);
  font-family: 微软雅黑, 黑体;
}

h2{
  background: white;
  color: tomato;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  border: 1px solid grey;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  font-family: 微软雅黑, 黑体;
}

form{
  margin-left: 10px;
}

.tagupdate{
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 500px;
  padding-left: 5px;
}

label{
  width: 300px;
}

.btnsub{
  padding: 8px 20px;
  font-size: 15px;
  background: #0080ff;
  border-radius: 5px;
  color: white;
  font-weight:600;
}

.btnsub:hover{
  -webkit-box-shadow: 3px 3px 5px grey;
  box-shadow: 3px 3px 5px grey;
}